body {
  background-color: #ededed;
}

.container {
  padding: 20px 40px;
}

.container > .row {
  margin-top: 4em;
}

.module-row {
  padding-top: 10px;
}

// Reveal scrollbar fix
body.is-reveal-open {
  overflow: visible;
}

.reveal-overlay {
  overflow-y: hidden;
}
// Reveal scrollbar fix

@include breakpoint(medium down) {
  .container {
    padding: 20px 30px;
  }

  .container > .row {
    margin-top: 3em;
  }
}

@include breakpoint(small down) {
  body {
    background-color: #FFFFFF;
  }

  .container {
    padding: 0px;
  }

  .container > .row {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
