$dark-blue: #46649b;
$grey: #464646;

.arrow-btn {
  text-decoration: none;
  border-radius: 200px;
  width: 80px;
  height: 80px;
  display: block;
  padding: 25px 23px;
  cursor: pointer;
  border: 2px solid $dark-blue;

  svg {
    width: 27px;
    height: 13px;
    fill: $dark-blue;
    display: inline-block;
    position: relative;
    top: 2px;
    left: 0;
    margin-right: 0;

    .down {
      transform: rotate(90deg);
    }

    .st0 {
      stroke: $dark-blue;
      stroke-width: 2;
      stroke-linecap: round;
      stroke-miterlimit: 10;
      transition: all .4s ease-in-out;
    }

    .st1 {
      fill: none;
      stroke: $dark-blue;
      stroke-width: 2;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-miterlimit: 10;
      transition: all .4s ease-in-out;
    }
  }

  span {
    color: $dark-blue;
    display: inline-block;
    padding-left: 0;
    transition: all .4s ease-in-out;
  }

  &:hover svg .st0 {
    transform: scaleX(1.4);
  }

  &:hover svg .st1 {
    transform: translateX(5px);
  }
}

.sasfin-btn {
  display:block;
  width: 358px;
  height: 60px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  padding: 18px 0 0 0;
  border-radius: 10px;
  text-decoration: none;

  &:active, &focus, &:active, &:visited {
    box-shadow: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
}

.btn-icon {
  display:inline-block;
  width: auto;
  height: auto;
  padding: inherit;
  text-align: left;
  &:before {
    font-family: "fontello";
    margin-right: 10px;
  }
}

.btn-cta {
  color: white !important;
  background: $dark-blue;

  &:hover, &:focus, &:active {
    background: $grey;
    color: white;
  }
}

.btn-secondary {
  color: $dark-blue !important;
  &:before {
    content: "\e800";
  }
  &:hover, &:focus, &:active  {
    &:before {
      content: "\e801";
    }
  }
}

.btn-tertiary {
  color: $dark-blue !important;
  &:before {
    display: inline-block;
    content: "\e800";
    transform: rotate(90deg);
  }

  &:hover, &:focus, &:active  {
    &:before {
      content: "\e801";
      transform: rotate(90deg);
    }
  }
}

.btn-toggle {
  color: $dark-blue !important;
  background: transparent;
  border: 2px solid $dark-blue;
  width: 240px;
  height: 50px;
  padding: 11px 0 0 0;

  &:hover {
    border-color: $grey;
    background: $grey;
    color: white !important;
  }
}

.btn-toggle-active {
  border-color: $dark-blue;
  background: $dark-blue;
  color: #FFF !important;
}

@include breakpoint(large down) {
  .sasfin-btn {
    width: 280px;
    font-size: 14px;
  }

  .btn-secondary, .btn-tertiary {
    font-size: 14px;
  }

  .btn-toggle {
    width: 180px;
  }
}
