// Foregroune colours
.light-blue {
  color: #59ACC1;
}

.dark-blue {
  color: #46649B;
}

.grey-blue {
  color: #46646E;
}

.grey {
  color: #464646;
}

.yellow {
  color: #FECA1D;
}

.green {
  color: #C2D456;
}

.purple {
  color: #9F4091;
}

.red {
  color: #BF0D3E;
}

.grey-one {
  color: #505253;
}

.grey-two {
  color: #828282;
}

.grey-three {
  color: #999999;
}

.grey-four {
  color: #DADADA;
}

.grey-five {
  color: #acacac;
}

.grey-six {
  color: #878787;
}

.white {
  color: white;
}

.black {
  color: black;
}

.dark-purple {
  color: #67235d;
}

// Background colours
.light-blue-bg {
  background-color: #59ACC1;
}

.dark-blue-bg {
  background-color: #46649B;
}

.grey-blue-bg {
  background-color: #46646E;
}

.grey-bg {
  background-color: #464646;
}

.yellow-bg {
  background-color: #FECA1D;
}

.green-bg {
  background-color: #C2D456;
}

.purple-bg {
  background-color: #9F4091;
}

.red-bg {
  background-color: #BF0D3E;
}

.grey-one-bg {
  background-color: #505253;
}

.grey-two-bg {
  background-color: #828282;
}

.grey-three-bg {
  background-color: #999999;
}

.grey-four-bg {
  background-color: #DADADA;
}

.white-bg {
  background-color: #FFF;
}

.light-grey-bg {
  background-color: #ededed;
}

// SVG fill colours
.light-blue-svg {
  fill: #59ACC1;
}

.dark-blue-svg {
  fill: #46649B;
}

.grey-blue-svg {
  fill: #46646E;
}

.grey-svg {
  fill: #464646;
}

.yellow-svg {
  fill: #FECA1D;
}

.green-svg {
  fill: #C2D456;
}

.purple-svg {
  fill: #9F4091;
}

.red-svg {
  fill: #BF0D3E;
}

.grey-one-svg {
  fill: #505253;
}

.grey-two-svg {
  fill: #828282;
}

.grey-three-svg {
  fill: #999999;
}

.grey-four-svg {
  fill: #DADADA;
}
