ul.accordion {
  a.accordion-title {
    display: flex;
    align-items: center;
    font-family: "museo900";
    font-size: 35px;
    padding-left: 20px;
    height: 110px;
    background: #59acc1;
    color: white;
    line-height: 20px;
    text-decoration: none;

    &:hover, &:focus, &:active {
      text-decoration: none;
    }

    &:hover {
      background: #46649b;
    }
  }

  a.accordion-title:before {
    margin: inherit;
    top:inherit;
    right: 40px
  }

  .accordion-content {
    padding: 40px 30px 60px 30px;
  }
}

@include breakpoint(large down) {
  ul.accordion {
    a.accordion-title {
      font-size: 20px;
      line-height: 20px;
      height: 80px;
      padding: 28px;
    }

    a.accordion-title:before {
      margin: inherit;
      top:inherit;
      right: 28px
    }
  }
}


@include breakpoint(medium down) {
  ul.accordion {
    a.accordion-title {
      font-family: "museo500";
      font-size: 16px;
      height: 80px;
      padding: 30px;
      line-height: 20px;
    }

    a.accordion-title:before {
      margin: inherit;
      top:inherit;
      right: 30px
    }
  }
}

@include breakpoint(small down) {
  .accordion-title {
    border: none;
    margin-bottom: 1px;
  }
}
