@mixin basics {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  height: 70px;
  border: 1px solid #ECECEC;
  color: #8b8b8b;
  appearance: none;
  width: 100%;
  display: block;
  margin: 0 0 10px 0;
  box-shadow: none;

  &:active,
  &:focus {
    color: #59ACC1;
    outline: none;

    &::placeholder {
      color: #59ACC1;
    }
  }

  &::placeholder {
    color: #828282;
  }
}

.form {
  button,
  input[type="text"],
  textarea {
    @include basics;
    padding: 20px 0 20px 25px;
  }
}

input[type="text"] {
  background: #FFF;
}

.input-error {
  border: 2px solid #464646 !important;
  margin-bottom: 5px !important;

  &::placeholder {
    color: #464646 !important;
  }
}

.error-message {
  margin-bottom: 20px;
  display: block;
  font-size: 12px;
  color: #464646;
}

select {
  @include basics;
  padding: 20px 0 20px 25px;

  background-image: url('../images/icons/select.svg');
  background-size: 16px 16px;
  background-position: right 25px center;
}

.radio, .checkbox {
  position: relative;
  display: block;
  margin-top: 0;
  margin-bottom: 0;

  @mixin before_defaults {
    display:block;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
    border: 2px solid #ECECEC;
    background: white;
  }

  [type="checkbox"]:checked + label:before,
  [type="checkbox"]:not(:checked) + label:before {
    @include before_defaults;
  }

  [type="checkbox"]:checked + label:after,
  [type="checkbox"]:not(:checked) + label:after {
    font-family: 'fontello';
    content: '\e815';
    position: absolute;
    top: 18px;
    left: 15px;
    font-size: 1.3em;
    line-height: 0.8;
    color: #59ACC1;
    transition: all 0.2s;
  }

  [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
  }

  [type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
  }

  [type=radio],
  [type="checkbox"]:checked,
  [type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
  }


  [type="radio"]:checked + label:before,
  [type="radio"]:not(:checked) + label:before {
    @include before_defaults;
    width: 45px;
    height: 45px;
    transition: all 0.2s;
    color: #59ACC1;
    font-family: "fontawesome";
    padding-top: 7px;
    padding-left: 14px;
    top: 4px;
    font-size: 15px;
    border-radius: 25px;
  }

  [type="radio"]:checked + label:before {
    content: "\f111";
  }

  [type="radio"]:not(:checked) + label:before {
    content: "";
  }

  [type="checkbox"]:disabled:checked + label:before,
  [type="checkbox"]:disabled:not(:checked) + label:before,
  [type="radio"]:disabled:checked + label:before,
  [type="radio"]:disabled:not(:checked) + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
    cursor: default;
  }

  [type="checkbox"]:disabled:checked + label:after,
  [type="radio"]:disabled:checked + label:after {
    color: #999;
  }

  [type="checkbox"]:disabled + label,
  [type="radio"]:disabled + label {
    color: #AAA;
  }

  label {
    position: relative;
    padding: 16px 0 0 60px;
    cursor: pointer;
    color: #828282;
    font-size: 14px;
    min-height: 50px
  }

  [type="radio"] + label {
    padding: 16px 0 0 55px;
  }

  label:hover:before {
    border: none;
  }

  [type="checkbox"]:disabled:checked + label,
  [type="checkbox"]:disabled:not(:checked) + label,
  [type="radio"]:disabled:checked + label,
  [type="radio"]:disabled:not(:checked) + label,
  [type="checkbox"]:disabled:checked + label:before,
  [type="checkbox"]:disabled:not(:checked) + label:before,
  [type="radio"]:disabled:checked + label:before,
  [type="radio"]:disabled:not(:checked) + label:before {
    cursor: not-allowed;
  }
}

[type='checkbox'] + label, [type='radio'] + label {
  margin: 0;
}


@include breakpoint(small down) {
  @mixin basics{
    font-size: 12px !important;
    height: 50px !important;
  }

  button,
  input[type="text"],
  textarea {
    @include basics;
    padding: 10px 0 10px 10px;
  }

  select {
    @include basics;
    padding: 10px 0 10px 10px;

    background-image: url('../images/icons/select.svg');
    background-size: 16px 16px;
    background-position: right 10px center;
  }

  .checkbox {
    [type="checkbox"]:checked + label:before,
    [type="checkbox"]:not(:checked) + label:before {
      width: 35px;
      height: 35px;
    }

    [type="checkbox"]:checked + label:before,
    [type="checkbox"]:not(:checked) + label:before {
      width: 35px;
      height: 35px;
    }

    [type="checkbox"]:checked + label:after,
    [type="checkbox"]:not(:checked) + label:after {
      top: 11px;
      left: 10px;
    }
  }

  .radio {
    [type="radio"]:checked + label:before,
    [type="radio"]:not(:checked) + label:before {
      width: 35px;
      height: 35px;
      padding-top: 2px;
      padding-left: 10px;
    }
  }

  .radio [type="radio"] + label, .checkbox [type="checkbox"] + label {
    padding: 10px 0 0 45px;
    min-height: 45px;
    font-size: 12px;
  }
}
