// Interface icons
@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?8657909');
  src: url('../fonts/fontello.eot?8657909#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff2?8657909') format('woff2'),
       url('../fonts/fontello.woff?8657909') format('woff'),
       url('../fonts/fontello.ttf?8657909') format('truetype'),
       url('../fonts/fontello.svg?8657909#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lg {
  font-size: 200%;
}

.icon-md {
  font-size: 150%;
}

.icon-sm {
  font-size: 100%;
}

.icon-arrow:before { content: '\e800'; }
.icon-arrowextended:before { content: '\e801'; }
.icon-back:before { content: '\e802'; }
.icon-callmeback:before { content: '\e803'; }
.icon-close:before { content: '\e804'; }
.icon-dropdown:before { content: '\e805'; }
.icon-email:before { content: '\e806'; }
.icon-facebook:before { content: '\e807'; }
.icon-hover:before { content: '\e808'; }
.icon-inbetween:before { content: '\e809'; }
.icon-linkedin:before { content: '\e80a'; }
.icon-menu:before { content: '\e80b'; }
.icon-minus:before { content: '\e80c'; }
.icon-next:before { content: '\e80d'; }
.icon-phone:before { content: '\e80e'; }
.icon-plus:before { content: '\e80f'; }
.icon-print:before { content: '\e810'; }
.icon-quote:before { content: '\e811'; }
.icon-search:before { content: '\e812'; }
.icon-share:before { content: '\e813'; }
.icon-tap:before { content: '\e814'; }
.icon-tick:before { content: '\e815'; }
.icon-twitter:before { content: '\e816'; }
.icon-userlogin:before { content: '\e817'; }
.icon-youtube:before { content: '\e818'; }

// Illustration icons
@mixin icon {
  background-repeat: no-repeat;
  display: block;
}

@mixin interface {
    @include icon;
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

@mixin illustration {
  background-size: 72px;
  width: 72px;
  height: 72px;
  display: block;

  @include breakpoint(medium down) {
    background-size: 64px;
    width: 64px;
    height: 64px;
  }

  @include breakpoint(small down) {
    background-size: 48px;
    width: 48px;
    height: 48px;
  }
}

.icon-pdf {
  background-image: url("../images/icons/pdf.svg");
  @include interface;
}

.icon-ppt {
  background-image: url("../images/icons/ppt.svg");
  @include interface;
}

.icon-docx {
  background-image: url("../images/icons/docx.svg");
  @include interface;
}

.icon-xls {
  background-image: url("../images/icons/xls.svg");
  @include interface;
}

.icon-podcast {
  background-image: url("../images/icons/podcast.svg");
  @include interface;
}

.icon-externallink {
  background-image: url("../images/icons/externallink.svg");
  @include interface;
}

.icon-addtocalendar {
  background-image: url("../images/icons/addtocalendar.svg");
  @include interface;
}

.icon-banking {
  background-image:url("../images/icons/banking.svg");
  @include illustration;
}

.icon-business {
  background-image:url("../images/icons/business.svg");
  @include illustration;
}

.icon-greatness {
  background-image:url("../images/icons/greatness.svg");
  @include illustration;
}

.icon-ideation {
  background-image:url("../images/icons/ideas.svg");
  @include illustration;
}

.icon-integrity {
  background-image:url("../images/icons/integrity.svg");
  @include illustration;
}

.icon-partnership {
  background-image:url("../images/icons/partnerships.svg");
  @include illustration;
}

.icon-performance {
  background-image:url("../images/icons/performance.svg");
  @include illustration;
}

.icon-ratio {
  background-image:url("../images/icons/ratio.svg");
  @include illustration;
}

.icon-respect {
  background-image:url("../images/icons/respect.svg");
  @include illustration;
}

.icon-target {
  background-image:url("../images/icons/target.svg");
  @include illustration;
}

.icon-wealth {
  background-image:url("../images/icons/wealth.svg");
  @include illustration;
}
