.selectionSharer ul {
  margin-left: .50rem;
}

.selectionSharer ul li {
  margin: 10px;
  padding: 0;
  &:first-child {
    padding-right: 15px;
    padding-left: 12px;
    border-right: 1px solid #FFF;
  }
}

.selectionSharer a.tweet {
  background-position: 0px 4px;
}

#selectionSharerPopover-inner {
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 5px;
  border-radius: 10px;
  border: 0;
  box-shadow: none;
  background-image: none;
  background-color: #464646;
  background-repeat: repeat-x;
}

#selectionSharerPopunder {
  position: absolute;
  left: 0;
  width: 100%;
  height: 0;
  transition: height .5s ease-in-out;
  background: #464646;
  border: 0;
  box-shadow: inset 0 10px 5px -10px rgba(0,0,0,.5), inset 0 -10px 5px -10px rgba(0,0,0,.5);
  border-radius: 0;
  overflow: hidden;
}

#selectionSharerPopover:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -3px;
  left: 50%;
  margin-left: -4px;
  width: 8px;
  height: 8px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #464646;
  box-shadow: 0 0 2px #464646;
}
