@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,700i,800');

// Museo slab 500
@font-face {
    font-family: 'museo500';
    src: url('../fonts/exljbris_-_museoslab-500-webfont.woff2') format('woff2'),
         url('../fonts/exljbris_-_museoslab-500-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

// Museo slab 900
@font-face {
    font-family: 'museo900';
    src: url('../fonts/museo_slab_900-webfont.woff2') format('woff2'),
         url('../fonts/museo_slab_900-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// Headings and sub headings
h1, h2 {
  font-family: 'museo900';
}

h1 {
  font-size: 70px;
  line-height: 75px
}

h2 {
  font-size: 50px;
  line-height: 55px;
}

h3 {
  font-family: 'museo500';
  font-size: 30px;
  line-height: 35px;
}

h4 {
  font-family: 'museo500';
  font-size: 16px;
  line-height: 21px;
}

blockquote {
  font-size: 30px;
  line-height: 38px;
  border-left: 0px;
  padding: 50px 0px;
}

@mixin type-heading {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
}

.description-header {
  @include type-heading;
}

.small-heading {
  @include type-heading;
  position: relative;
  min-height: 20px;
  padding-top: 20px;

  &:before {
    font-family: "fontello";
    content: "\e80c\e80c";
    width: 100%;
    display: block;
  }

}

.sub-header {
  font-family: 'Open Sans', sans-serif;
  font-weight:lighter;
  font-size: 35px;
  line-height: 45px;
}

// Basic
::selection {
  background: #59acc1;
  color: #FFF;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #464646;
}

// Paragraph
p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #464646;
  font-size: 15px;
  line-height: 27px;
}

a {
  text-decoration: underline;
  color: #59acc1;

  &:visited {
    color: #59acc1;
  }

  &:hover, &:focus {
    text-decoration: none;
    color: #46649b;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
}

p.large {
  font-size: 23px;
  line-height: 35px;
}

@include breakpoint(medium down) {
  h1 {
    font-size: 45px;
    line-height: 50px;
  }

  h2 {
    font-size: 40px;
    line-height: 45px;
  }

  h3 {
    font-family: 'museo500';
    font-size: 20px;
    line-height: 25px;
  }

  .sub-header {
    font-size: 20px;
    line-height: 25px;
  }

  p.large {
    font-size: 14px;
    line-height: 26px;
  }

  p {
    font-size: 14px;
    line-height: 26px;
  }
}

@include breakpoint(small down) {
  h1 {
    font-size: 30px;
    line-height: 35px;
  }

  h2 {
    font-size: 25px;
    line-height: 30px;
  }

  h3 {
    font-family: 'museo500';
    font-size: 20px;
    line-height: 25px;
  }
}
