.content-listing {
  .column {
    margin-bottom: 40px;
  }
}

@include breakpoint(medium down) {
  .content-listing {
    .column {
      margin-bottom: 30px;
    }
  }
}

@include breakpoint(small down) {
  .content-listing {
    .column {
      margin-bottom: 10px;
    }
  }
}
