.home {
  
}

@include breakpoint(small down) {
  .gamma-row {
    background-color: #f2f2f2;
    .content-module-gamma {
      padding: 5px 20px;
    }

    .columns:last-child {
      .content-module-gamma {
        border: none;
      }
    }

    border-bottom: 1px solid #cacaca;
  }

  .get-started {
    .text-content {
      margin: 30px 20px !important;
    }

    h3 {
      margin-top: 20px;
      font-size: 20px;
      line-height: 25px;
      font-weight: normal;
    }

    .btn-icon {
      padding: 20px 0 0 0;
    }

    border-bottom: 1px solid #cacaca;
  }

  .share-price {
    padding: 20px;
  }
}
