@import "settings";

// bower:scss
@import "bower_components/foundation-sites/scss/foundation.scss";
@import "bower_components/slick-carousel/slick/slick.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower

// Slick slider settings
$slick-font-path: "../fonts/";
$slick-loader-path: "../images/";
// $slick-dot-color: #1d1d1d;
$slick-dot-color-active: #1d1d1d;
$slick-dot-size: 12px;
$slick-prev-character: '\e802';
$slick-next-character: '\e80d';

@import "bower_components/slick-carousel/slick/slick-theme.scss";
@include foundation-everything($flex: true);

@import "ui-kit/_ui-kit";
@import "modules/modules";
@import "pages/pages";
