<div class="row" data-equalizer>
  <div class="columns large-8">
    <div class="content-module-hotel" data-equalizer-watch>
      <p><span class="small-heading">About us</span></p>
      <h3 class="grey-two">Sasfin is a banking and financial services group, offering tailor-made products and services to entrepreneurs, corporates and high net-worth individuals. </h3>
      <p class="large">With Sasfin’s comprehensive range of products and services as well as an understanding of your business and personal finance needs, you are assured of results beyond expectations.</p>
      <a href="#" class="sasfin-btn btn-icon btn-secondary">Find out more</a>
    </div>
  </div>

  <div class="columns large-4">
    <div class="content-module-echo">
      <div class="echo-slide grey-one-bg" data-equalizer-watch>
        <div class="text-content">
          <span class="description-header light-blue">Words from our clients</span>
          <h3 class="grey-three">Sasfin’s innovative and professional approach to set managment impresses me time and time again.</h3>
          <div class="client">
            <img src="images/client-avatar.png" alt="Thabo Mathibe">
            <p>
              <span class="client-name">Thabo Mathibe</span><br/>
              <span class="client-type">Wealth client</span>
            </p>
          </div>
          <span class="icon-lg icon-quote light-blue"></span>
        </div>
      </div>
      <div class="echo-slide grey-one-bg" data-equalizer-watch>
        <div class="text-content">
          <span class="description-header light-blue">Words from our clients</span>
          <h3 class="grey-three">Sasfin’s innovative and professional approach to set managment impresses me time and time againiugyliuylkjhylojhlkjhlkjhlkjhlkjh.</h3>
          <div class="client">
            <img src="images/client-avatar.png" alt="Thabo Mathibe">
            <p>
              <span class="client-name">Thabo Mathibe</span><br/>
              <span class="client-type">Wealth client</span>
            </p>
          </div>
          <span class="icon-lg icon-quote light-blue"></span>
        </div>
      </div>
      <div class="echo-slide grey-one-bg" data-equalizer-watch>
        <div class="text-content">
          <span class="description-header light-blue">Words from our clients</span>
          <h3 class="grey-three">Sasfin’s innovative and professional approach to set managment impresses me time and time again.</h3>
          <div class="client">
            <img src="images/client-avatar.png" alt="Thabo Mathibe">
            <p>
              <span class="client-name">Thabo Mathibe</span><br/>
              <span class="client-type">Wealth client</span>
            </p>
          </div>
          <span class="icon-lg icon-quote light-blue"></span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row columns large-12">
  <hr>
</div>

<div class="row" data-equalizer>
  <div class="columns medium-4">
    <div class="content-module-gamma" data-equalizer-watch>
      <a href="#">
        <span class="icon-business"></span>
        <h3 class="light-blue">Business</h3>
        <p>We create tailored solutions to support your business growth, whether you need working capital to grow your business, an equity partner or a sophisticated corporate financier.</p>
      </a>
      <a href="#" class="sasfin-btn btn-icon btn-secondary">Find out more</a>
    </div>
  </div>

  <div class="columns medium-4">
    <div class="content-module-gamma" data-equalizer-watch>
      <a href="#">
        <span class="icon-wealth"></span>
        <h3 class="light-blue">Wealth</h3>
        <p>Sasfin Wealth’s investment solutions are  designed to meet the needs of institutional and private investors and include unit trusts, pooled portfolios and structured solutions.</p>
      </a>
      <a href="#" class="sasfin-btn btn-icon btn-secondary">Find out more</a>
    </div>
  </div>

  <div class="columns medium-4">
    <div class="content-module-gamma" data-equalizer-watch>
      <a href="#">
        <span class="icon-banking"></span>
        <h3 class="light-blue">Banking</h3>
        <p>Our Transactional accounts are tailored for individuals, entrepreneurs and businesses that are looking for simple, easy and transparent banking.  Individual and business accounts are...</p>
      </a>
      <a href="#" class="sasfin-btn btn-icon btn-secondary">Find out more</a>
    </div>
  </div>
</div>

<div class="row" data-equalizer="alpha">
  <div class="columns large-8">
    <div class="content-module-alpha" data-equalizer-watch="alpha">
      <div class="row alpha-row">
        <div class="columns small-12 medium-6 large-6 small-order-2 medium-order-1">
          <div class="text-content">
            <span class="description-header grey-blue">Sustainability</span>
            <h3 class="grey-one">Creating a sustainable future</h3>
            <p>
              Sasfin recognises that the banking and financial services sector has an important role to play in the context of environmental sustainability...
            </p>
            <a href="#" class="sasfin-btn btn-icon btn-secondary">Find out more</a>
          </div>
        </div>

        <div class="columns small-12 medium-6 large-6 small-order-1 medium-order-2">
          <div class="image-content grey-blue-bg">
            <svg class="triangle">
              <path d="M0 12 L12 0 L12 24 Z" class="grey-blue-svg" />
            </svg>
            <img src="images/home-sustainability.jpg" alt="h3 heading as alt" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="columns large-4">
    <div class="content-module-charlie" data-equalizer-watch="alpha">
      <div class="charlie-slide">
        <div class="image-content grey-blue-bg">
          <img src="images/home-in-the-news.jpg" alt="h3 heading as alt">
        </div>
        <div class="text-content">
          <span class="description-header grey-blue">In the news</span>
          <h3 class="grey-one">Sasfin delivers 29% increase in headline earnings per share.</h3>
          <a href="#" class="sasfin-btn btn-icon btn-secondary">Find out more</a>
        </div>
      </div>
      <div class="charlie-slide">
        <div class="image-content grey-blue-bg">
          <img src="images/home-in-the-news.jpg" alt="h3 heading as alt">
        </div>
        <div class="text-content">
          <span class="description-header grey-blue">In the news</span>
          <h3 class="grey-one">Sasfin delivers 29% increase in headline earnings per share.</h3>
          <a href="#" class="sasfin-btn btn-icon btn-secondary">Find out more</a>
        </div>
      </div>
      <div class="charlie-slide">
        <div class="image-content grey-blue-bg">
          <img src="images/home-in-the-news.jpg" alt="h3 heading as alt">
        </div>
        <div class="text-content">
          <span class="description-header grey-blue">In the news</span>
          <h3 class="grey-one">Sasfin delivers 29% increase in headline earnings per share.</h3>
          <a href="#" class="sasfin-btn btn-icon btn-secondary">Find out more</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="columns small-12">
    <span class="small-heading">Share price</span>
    <p class="red">Kilo module required</p>
  </div>
</div>

<div class="row" data-equalizer>
  <div class="columns small-12">
    <span class="small-heading">Accolades & Acknowledgements</span>
    <div class="columns small-12 medium-12 large-12">
      <div class="content-module-indiana">
        <div class="indiana-slide">
          <a href="#"><h4>Best Broad-Based Domestic Equity Fund</h4></a>
          <span class="description-header">2013 raging bull awards</span>
        </div>
        <div class="indiana-slide">
          <a href="#"><h4>The Best Domestic Equity Value Fund</h4></a>
          <span class="description-header">2013 raging bull awards</span>
        </div>
        <div class="indiana-slide">
          <a href="#"><h4>Placed 30th in the ‘Top Companies’ survey</h4></a>
          <span class="description-header">2006 The Sunday Times Business Times </span>
        </div>
        <div class="indiana-slide">
          <a href="#"><h4>Four heading for Indiana slider</h4></a>
          <span class="description-header">Four This will be additional info</span>
        </div>
        <div class="indiana-slide">
          <a href="#"><h4>Five heading for Indiana slider</h4></a>
          <span class="description-header">Five This will be additional info</span>
        </div>
        <div class="indiana-slide">
          <a href="#"><h4>Five heading for Indiana slider</h4></a>
          <span class="description-header">Five This will be additional info</span>
        </div>
        <div class="indiana-slide">
          <a href="#"><h4>Five heading for Indiana slider</h4></a>
          <span class="description-header">Five This will be additional info</span>
        </div>
        <div class="indiana-slide">
          <a href="#"><h4>Five heading for Indiana slider</h4></a>
          <span class="description-header">Five This will be additional info</span>
        </div>
      </div>
    </div>
  </div>
</div>
