<div class="gamma-row row">
  <div class="columns small-12">
    <div class="content-module-gamma">
      <a href="#">
        <span class="icon icon-business"></span>
        <h3 class="light-blue">Business</h3>
        <span class="show-for-small-only icon-arrow"></span>
      </a>
    </div>
  </div>

  <div class="columns small-12">
    <div class="content-module-gamma">
      <a href="#">
        <span class="icon icon-wealth"></span>
        <h3 class="light-blue">Wealth</h3>
        <span class="show-for-small-only icon-arrow"></span>
      </a>
    </div>
  </div>

  <div class="columns small-12">
    <div class="content-module-gamma">
      <a href="#">
        <span class="icon icon-banking"></span>
        <h3 class="light-blue">Banking</h3>
        <span class="show-for-small-only icon-arrow"></span>
      </a>
    </div>
  </div>
</div>

<div class="get-started row white-bg">
  <div class="columns small-12">
    <div class="text-content">
      <span class="description-header dark-grey">Get Started</span>
      <h3 class="grey-one">Find the perfect Sasfin product or service just for you.</h3>
      <a href="#" class="sasfin-btn btn-icon btn-secondary">Find out more</a>
    </div>
  </div>
</div>

<div class="module-row row light-grey-bg" data-equalizer>
  <div class="columns small-12">
    <div class="content-module-alpha" data-equalizer-watch>
      <div class="row alpha-row">
        <div class="columns small-12 medium-6 large-6 small-order-2 medium-order-1">
          <div class="text-content">
            <span class="description-header grey-blue">Sustainability</span>
            <h3 class="grey-one">Creating a sustainable future</h3>
            <p>
              Sasfin recognises that the banking and financial services sector has an important role to play in the context of environmental sustainability...
            </p>
            <a href="#" class="sasfin-btn btn-icon btn-secondary">Find out more</a>
          </div>
        </div>

        <div class="columns small-12 medium-6 large-6 small-order-1 medium-order-2">
          <div class="image-content grey-blue-bg">
            <svg class="triangle">
              <path d="M0 12 L12 0 L12 24 Z" class="grey-blue-svg" />
            </svg>
            <img class="show-for-medium" src="images/home-sustainability.jpg" alt="h3 heading as alt" />
            <img class="show-for-small-only" src="images/home-sustainability-small.jpg" alt="h3 heading as alt" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="module-row row light-grey-bg">
  <div class="columns small-12">
    <div class="content-module-charlie">
      <div class="charlie-slide">
        <div class="image-content grey-blue-bg">
          <img src="images/home-in-the-news.jpg" alt="h3 heading as alt">
        </div>
        <div class="text-content">
          <span class="description-header grey-blue">In the news</span>
          <h3 class="grey-one">Sasfin delivers 29% increase in headline earnings per share.</h3>
          <a href="#" class="sasfin-btn btn-icon btn-secondary">Find out more</a>
        </div>
      </div>
      <div class="charlie-slide">
        <div class="image-content grey-blue-bg">
          <img src="images/home-in-the-news.jpg" alt="h3 heading as alt">
        </div>
        <div class="text-content">
          <span class="description-header grey-blue">In the news</span>
          <h3 class="grey-one">Sasfin delivers 29% increase in headline earnings per share.</h3>
          <a href="#" class="sasfin-btn btn-icon btn-secondary">Find out more</a>
        </div>
      </div>
      <div class="charlie-slide">
        <div class="image-content grey-blue-bg">
          <img src="images/home-in-the-news.jpg" alt="h3 heading as alt">
        </div>
        <div class="text-content">
          <span class="description-header grey-blue">In the news</span>
          <h3 class="grey-one">Sasfin delivers 29% increase in headline earnings per share.</h3>
          <a href="#" class="sasfin-btn btn-icon btn-secondary">Find out more</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="share-price row light-grey-bg">
  <div class="columns small-12">
    <span class="small-heading">Share price</span>
    <p class="red">Kilo module required</p>
  </div>
</div>

<div class="share-price row light-grey-bg">
  <div class="columns small-12">
    <span class="small-heading">Accolades & Acknowledgements</span>
    <div class="content-module-indiana">
      <div class="indiana-slide">
        <h4><a href="#">One heading for Indiana slider</a></h4>
        <span class="description-header">One This will be additional info</span>
      </div>
      <div class="indiana-slide">
        <h4><a href="#">Two heading for Indiana slider</a></h4>
        <span class="description-header">Two This will be additional info</span>
      </div>
      <div class="indiana-slide">
        <h4><a href="#">Three heading for Indiana slider</a></h4>
        <span class="description-header">Three This will be additional info</span>
      </div>
      <div class="indiana-slide">
        <h4><a href="#">Four heading for Indiana slider</a></h4>
        <span class="description-header">Four This will be additional info</span>
      </div>
      <div class="indiana-slide">
        <h4><a href="#">Five heading for Indiana slider</a></h4>
        <span class="description-header">Five This will be additional info</span>
      </div>
      <div class="indiana-slide">
        <h4><a href="#">Five heading for Indiana slider</a></h4>
        <span class="description-header">Five This will be additional info</span>
      </div>
      <div class="indiana-slide">
        <h4><a href="#">Five heading for Indiana slider</a></h4>
        <span class="description-header">Five This will be additional info</span>
      </div>
      <div class="indiana-slide">
        <h4><a href="#">Five heading for Indiana slider</a></h4>
        <span class="description-header">Five This will be additional info</span>
      </div>
    </div>
  </div>
</div>
