.content-module-echo {
  .echo-slide {
    position: relative;
  }

  .description-header {
    position: absolute;
    top: 40px;
    left: 40px;
  }

  .icon-quote {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }

  .text-content {
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 70px 40px 40px 40px;
    height: 100%;

    h3 {
      padding: 20px 0;
      font-size: 20px;
      line-height: 25px;
    }

    .client {
      align-self: baseline;
      display: flex;
      align-items: center;

      p {
        color: #FFF;
        font-family: "Open Sans", sans-serif;
        font-weight: bold;
        line-height: 18px;
        padding: 5px 0 0 20px;
      }

      .client-name {
        font-size: 20px;
      }

      .client-type {
        font-size: 12px;
        text-transform: uppercase;
      }
    }
  }

  .slick-dots {
    height: 30px;
    text-align: right;
    top: 10px;
    right: 40px;
    li {
      @include slick-dot-li;
    }
    padding-top: 20px;
  }
}

@include breakpoint(medium down) {
  .content-module-echo {
    .text-content {
      .client {
        position: relative;
        bottom: inherit;
      }
    }
  }
}
