.content-module-indiana {
  position: relative;

  .indiana-slide {
    min-height: 70px;
    margin-top: 8px;
    padding-top: 10px;
    padding-bottom: 65px;

    @include breakpoint(medium down) {
      padding-bottom: 30px;
    }

    a {
      text-decoration: none;
    }

    .description-header {
      font-size: 10px;
      font-weight: 600;
    }

    h4 {
      margin-bottom: 0px;
    }
  }

  .slick-prev:before, .slick-next:before {
    font-family: 'fontello';
    color: #46649B;
  }

  .slick-prev {
    left: -40px;
  }

  .slick-next {
    right: -40px;
  }

  .slick-arrow {
    display: none !important;
  }

  .slick-dots {
    text-align: left;
    li {
      @include slick-dot-li; /* zero out margin*/
      button:before{
        color: #000000;
      }
    }
  }
}
