.content-module-oscar {
  @include content-module;

  .oscar-container {
    .description-header {
      // color: #505253;
    }

    h4 {
      margin-top: 20px;
      color: #46649B;
      font-size: 25px;
      font-family: 'museo500';
      padding-top: 20px;
    }

    p {
      font-size: 17px;
      line-height: 30px;
      color: #464646;
      padding-bottom: 75px;
      padding-top: 18px;
    }

    &:hover {
      background-color: #46649B;
      h4, p, .description-header {
        color: #FFF;
      }

      .oscar-content {
        border-bottom: none;
      }
    }

    .oscar-content {
      margin: 0px 20px 0 20px;
      padding: 10px;
      border-bottom: 1px solid #cacaca;
    }

    .oscar-last {
      border-bottom: none;
    }
  }
}

@include breakpoint(medium down) {
  .content-module-oscar {

    .description-header {
      font-size: 40px;
      font-family: 'museo900';
      color: #46636d;
    }

    .oscar-container{
      h4 {
        margin-top: 20px;
        color: #46649B;
        font-size: 25px;
        font-family: 'museo500';
        padding-top: 5px;
      }

      p {
        color: #464646;
        padding-bottom: 6px;
        padding-top: 0px;
      }

      .oscar-content {
        margin: 0px 60px 0 60px;
        padding: 10px 0px;
        border-bottom: 1px solid #cacaca;
      }
    }
  }
}

@include breakpoint(small down) {
  .content-module-oscar {
    .oscar-container{

      .description-header {
        font-size: 11px;
        font-family: 'museo500';
        color: #46636d;
      }

      h4 {
        margin-top: 20px;
        color: #46649B;
        font-size: 20px;
        font-family: 'museo500';
        padding-top: 5px;
      }

      p {
        color: #464646;
        padding-bottom: 6px;
        padding-top: 0px;
        font-size: 14px;
        line-height: 20px;
      }
      .oscar-content {
        margin: 0px 10px 0 10px;
        padding: 10px 30px;
        border-bottom: 1px solid #cacaca;
      }
    }
  }
}
