.content-module-romeo {
  position: relative;
  border-bottom: 1px solid #cacaca;
  margin: 20px 0;

  .start-icon {
    text-indent: 42px;
  }

  .end-icon {
    position: absolute;
    height: 32px;
    width: 32px;
    top: 0;
    right: -32px;
    opacity: 0;
    margin-top: 12px;
    border-left: 1px dotted #cacaca;
    line-height: 50px;
  }

  h4 {
    position: absolute;
    top: 3px;
    left: 42px;
    font-size: 25px;
    line-height: 30px;
  }

  a {
    text-decoration: none;
    color: #46646E;
  }

  a:hover {
    text-decoration: none;
    color: #46649B;
  }

  p {
    font-family: 'Open Sans', sans-serif;
    padding-top: 5px;
    font-size: 17px;
  }
}

@include breakpoint(medium down) {
  .content-module-romeo {
    p {
      font-family: 'Open Sans', sans-serif;
      padding-top: 5px;
      font-size: 16px;
    }

  }
}

@include breakpoint(small down) {
  .content-module-romeo {

    p {
      font-family: 'Open Sans', sans-serif;
      padding-top: 5px;
      font-size: 14px;
    }

  }
}
