.content-module-whiskey {
  color: #FFF;

  .whiskey-card {
    padding: 40px;
    margin: 10px;
    position: relative;
    cursor: pointer;
    height: 600px;
  }

  h3 {
    width: 80%;
    font-size: 50px;
    line-height: 50px;
    font-family: "museo900";
    margin-top: 50px;
  }

  p {
    margin-top:20px;
    opacity: 0;
    color: #FFF;
    font-weight: bold;
  }

  .icon-hover {
    position: absolute;
    bottom: 40px;
    text-transform: uppercase;
    font-size: 11px;
    color: #FFF;
    font-weight: bold;

    &:before {
      margin-right: 10px;
      font-size: 18px;
    }
  }

  .img-whiskey {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .slick-dots {
    position: absolute;
    bottom: 40px;
    left: 40px;
    text-align: left;
    li {
      @include slick-dot-li;
    }

    li.slick-active button:before {
      color: #FFF;
    }
  }
}

@include breakpoint(medium down) {
  .content-module-whiskey {
    .whiskey-card {
      position: relative;
      margin: 0;
    }

    h3 {
      font-size: 50px;
      line-height: 50px;
      margin-top: 30px;
    }

    p {
      width: 55%;
      margin-top:60px;
      opacity: 1;
    }

    .icon-hover {
      display:none;
    }
  }
}

@include breakpoint(small down) {
  .content-module-whiskey {
    .whiskey-card {
      padding: 20px;
      height: auto;
    }

    h3 {
      font-size: 30px;
      line-height: 30px;
    }

    p {
      width: 100%;
      margin-top:20px;
      opacity: 1;
    }

    .icon-hover {
      display:none;
    }

    img {
      display:none;
    }

    .slick-dots {
      position: absolute;
      bottom: 20px;
      left: 20px;
      text-align: left;
      li {
        @include slick-dot-li;
      }

      li.slick-active button:before {
        color: #FFF;
      }
    }
  }
}
