.content-module-xray {
  overflow: hidden;
  position: relative;
  min-height: 690px;

  .xray-slider {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .xray-card {
    position: relative;
    min-height: 650px;
    display: block;
    cursor: pointer;

    .xray-close {
      opacity: 0;
      display: none;
      position: absolute;
      top: 20px;
      right: 20px;
      background-color: #FFF;
      color: #46636d;
      padding: 15px 14px;
      border-radius: 50px;
      height: 25px;
      width: 25px;
      cursor: pointer;

      &:hover, &:focus, &:active {
        background-color: #46636d;
        color: #FFF;
      }
    }

    .xray-content {
      white-space: normal;
      padding: 60px 40px;

      h3 {
        font-family: "museo900";
        padding: 40px 0;
      }

      .xray-date {
        position: absolute;
        bottom: 0;
      }

      span.icon-hover {
        font-weight: bold;
        text-transform: uppercase;
        padding-bottom: 20px;
        color: white;
        display:block;
        height: 80px;
        position: absolute;
        bottom: 120px;

        &:before {
          margin-right: 10px;
        }
      }

      p {
        color: white;
        display: none;
        opacity: 0;
        font-weight: bold;
      }
    }

    img {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  .swiper-pagination {
    text-align: left;

    .swiper-pagination-bullet {
      @include slick-dot-li;
      width: 10px;
      height: 10px;
      margin-right: 10px;
    }

    .swiper-pagination-bullet-active {
      background-color: #56ACC1;
    }
  }
}
