.content-module-one {
  a {
    text-decoration: none;
  }

  .icon {
    margin-left: -10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  p {
    margin: 20px 0;
  }

  .slick-prev:before, .slick-next:before {
    font-family: 'fontello';
    color: #46649B;
  }

  .slick-prev {
    left: -40px;
  }

  .slick-next {
    right: -40px;
  }

  .slick-dots {
    text-align: left;
    li {
      @include slick-dot-li;
    }
  }
}

@include breakpoint(medium down) {
  .content-module-one {
    .icon {
      background-size: 92px;
      width: 92px;
      height: 92px;
    }

    h3 {
      padding-top: 20px;
      padding-bottom: 20px;
      font-size: 32px;
    }
  }
}
