.content-module-foxtrot {
  @include content-module;
  cursor: pointer;

  .text-content {
    padding: 20px;
    position: relative;
    background: #FFF;

    .btn-secondary {
      padding: 10px 0;
      opacity: 0;
    }

    h3 {
      padding: 10px 0;
      font-size: 20px;
      line-height: 25px;
    }
  }

  .slick-dots {
    text-align: left;
    bottom: 20px;
    left: 20px;
    li {
      @include slick-dot-li;
    }
  }
}

@include breakpoint(small down) {
  .content-module-foxtrot {
    p, .btn-secondary {
      display:none;
    }
  }
}
