.content-module-delta {
  @include content-module;
  cursor: pointer;

  .delta-row {
    height: 100%;
  }

  .text-content {
    padding: 20px;

    h3 {
      padding-top: 30px;
      padding-bottom: 20px;
      line-height: 38px;
    }

    p {
      line-height: 30px;
    }

    .btn-secondary {
      padding: 20px 0 0 0;
    }
  }

  .image-content {
    position:relative;
    height: 100%;

    .triangle {
      position: absolute;
      top:50%;
      margin-left: -12px;
      height: 24px;
      width: 12px;
    }

    .triangle-delta {
      right: -11px;
    }
  }
}

@include breakpoint(small down) {
  .content-module-delta {
    p, .btn-secondary {
      display:none;
    }
  }
}
