.content-module-lima {
  position: relative;

  .lima-slide {
    min-height: 70px;
    margin-top: 8px;
    padding-top: 10px;
    h4 {
      margin: 0;

      a {
        text-decoration: none;
      }
    }
  }

  .male {
    background-image: url('/images/male.png');
    @include lima-bg-image;
  }

  .female {
    background-image: url('/images/female.png');
    @include lima-bg-image;
  }

  .lima-container{
    color: #FFF;
    margin: 10px;

    .lima-mike-content {
      margin: 10px auto;
      padding: 30px 40px;

      p {
        color: #FFF !important;
        line-height: 30px;
      }

      a {
        color: #C2D456;
        text-decoration: none;
        font-weight: bold;
        &:hover, &:focus, &:active {
          color: #FECA1D;
        }
      }

      .description-header {
        font-family: 'museo500';
        font-size: 30px;
        line-height: 43px;
      }

      h4 {
        font-size: 16px;
        padding-bottom: 0px;
        margin-bottom: 0px;
      }

      .lima-mike-line {
        @include zulu-mike-lima-line;
      }
    }
  }

  .slick-prev:before, .slick-next:before {
    font-family: 'fontello';
    color: #46649B;
  }

  .slick-prev {
    left: -40px;
  }

  .slick-next {
    right: -40px;
  }

  .slick-dots {
    text-align: left;
    li {
      @include slick-dot-li;
    }
  }
}

@include breakpoint(small down) {
  .content-module-lima {
    .male, .female {
      background-image: none;
    }

    .lima-container {
      margin: 0px;
    }
  }
}
