.content-module-zulu {
  position: relative;

  .lima-slide {
    min-height: 70px;
    margin-top: 8px;
    padding-top: 10px;
    h4 {
      margin: 0;

      a {
        text-decoration: none;
      }
    }
  }

  .zulu-card {
    min-height: 200px;
    cursor: pointer;
    position: relative;
  }

  .lima-container, .mike-container, .zulu-card {
    color: #FFF;
    margin: 10px;

    .lima-mike-content, .zulu-content {
      margin: 10px auto;
      padding: 30px 40px;

      p {
        color: #FFF !important;
      }

      a {
        color: #C2D456;
        text-decoration: none;
        font-weight: bold;
        &:hover, &:focus, &:active {
          color: #FECA1D;
        }
      }

      .zulu-button {
        color: #FFFFFF;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
        &:hover, &:focus, &:active {
          color: #FFFFFF;
        }
      }

      .zulu-title {
        width: 65%;
        display: block;
      }

      .zulu-img {
        position: absolute;
        bottom: 0;
        right: 0;
        max-width: 175px;
      }

      h4 {
        padding-bottom: 0px;
        margin-bottom: 0px;
      }

      .lima-mike-line, .zulu-line {
        border-bottom: 1px solid #fff;
        width: 60%;
        display: block;
        position: relative;
        margin-bottom: 20px;
        margin-top: 20px;

        &:after {
          position: absolute;
          top: -7px;
          right: -2px;
          content: "\f111";
          font-family: "fontawesome";
          font-size: 10px;
        }
      }
    }

    .zulu-content {
      padding-top: 40px;
    }
  }

  .mike-container {
    margin: 0;

    .lima-mike-content {
      margin: 0;
    }
  }

  .slick-prev:before, .slick-next:before {
    font-family: 'fontello';
    color: #46649B;
  }

  .slick-prev {
    left: -40px;
  }

  .slick-next {
    right: -40px;
  }

  .slick-dots {
    text-align: left;
    li {
      @include slick-dot-li;
    }
  }
}

.zulu-reveal {
  padding: 0;
  border: none;
  color: #FFFFFF;
  position: relative;
  overflow-y: visible;

  button {
    position: absolute;
    top: -25px;
    right: -25px;
    z-index: 100;
    cursor: pointer;
    height: 50px;
    width: 50px;
    padding: 13px 14px;
    border-radius: 100px;
    background-color: #FFF;

    .icon-close {
      color: #000;
    }
  }

  .zulu-header, .zulu-body {
    position: relative;
    padding: 40px;

    .zulu-line {
      border-bottom: 1px solid #fff;
      width: 60%;
      display: block;
      position: relative;
      margin-bottom: 20px;
      margin-top: 20px;

      &:after {
        position: absolute;
        top: -7px;
        right: -2px;
        content: "\f111";
        font-family: "fontawesome";
        font-size: 10px;
      }
    }

    .zulu-img {
      position: absolute;
      bottom: 0;
      right: 0;
      max-width: 175px;
    }
  }

  .zulu-body {
    color: #828282;
  }
}

.zulu-filter {
  display: flex;

  * {
    margin-right: 30px;
  }

  h3 {
    font-family: "museo900";
  }

  .btn-toggle {
    margin-top: -8px;
    text-transform: inherit;
    font-size: 14px;
    width: 180px;
    height: 50px;
    padding: 12px 0 0 0;
  }
}

@include breakpoint(small down) {
  .zulu-reveal {
    padding: 0;
    border: none;
    color: #FFFFFF;
    position: relative;
    overflow-y: visible;

    button {
      top: -10px;
      right: -10px;
    }
  }

  .zulu-filter * {
    margin-right: 10px;
  }

  .zulu-filter .btn-toggle {
    font-size: 11px;
    padding-top: 15px;
  }
}
