.content-module-mike {
  position: relative;

  .mike-container {
    color: #FFF;
    margin: 10px;

    .lima-mike-content {
      margin: 10px auto;
      padding: 30px 40px;

      p {
        color: #FFF !important;
      }

      a {
        color: #C2D456;
        text-decoration: none;
        font-weight: bold;
        &:hover, &:focus, &:active {
          color: #FECA1D;
        }
      }

      h4 {
        padding-bottom: 0px;
        margin-bottom: 0px;
      }

      .lima-mike-line {
        @include zulu-mike-lima-line;
      }
    }
  }

  .mike-container {
    margin: 0;

    .lima-mike-content {
      margin: 0;
    }
  }

  .slick-prev:before, .slick-next:before {
    font-family: 'fontello';
    color: #46649B;
  }

  .slick-prev {
    left: -40px;
  }

  .slick-next {
    right: -40px;
  }

  .slick-dots {
    text-align: left;
    li {
      @include slick-dot-li;
    }
  }
}

@include breakpoint(small down) {
  .content-module-mike {
    .male, .female {
      background-image: none;
    }

    .mike-container {
      margin: 0px;
    }
  }
}
