.content-module-hotel {
  a {
    text-decoration: none;

    .small-heading {
      color: #46649B;
      &:hover, &:visited, &:focus {
        color: #46649B;
      }
    }
  }

  h3 {
    padding: 20px 0;
    font-size: 35px;
    line-height: 47px;
    font-family: 'Open Sans', sans-serif;
    font-weight:lighter;
  }

  p{
    padding: 20px 0px;
  }
}

@include breakpoint(medium down) {
  .content-module-hotel {
    h3 {
      padding: 20px 0;
      font-size: 20px;
      line-height: 30px;
      font-family: 'Open Sans', sans-serif;
      font-weight:lighter;
    }
  }
}

@include breakpoint(small down) {
  .content-module-hotel {
    p {
      display:none;
    }

    h3 {
      padding: 20px 0;
      font-size: 20px;
      line-height: 25px;
      font-family: 'Open Sans', sans-serif;
      font-weight:lighter;
    }
  }
}
