.content-module-gamma {
  a {
    text-decoration: none;
  }

  .icon {
    margin-left: -10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-size: 82px;
    width: 82px;
    height: 82px;
  }

  p {
    margin: 28px 0;
  }

  .slick-prev:before, .slick-next:before {
    font-family: 'fontello';
    color: #46649B;
  }

  .slick-prev {
    left: -40px;
  }

  .slick-next {
    right: -40px;
  }

  .slick-dots {
    text-align: left;
    li {
      @include slick-dot-li;
    }
  }
}

@include breakpoint(medium down) {
  .content-module-gamma {
    a {
      display: flex;

      h3 {
        margin-top: 70px;
        margin-left: 20px;
        align-self: center;
      }
    }

    p {
      display: none;
    }

    .sasfin-btn {
      display: none;
    }
  }
}

@include breakpoint(small down) {
  .content-module-gamma {
    padding: 0px 0;
    border-bottom: 1px solid #cacaca;

    a {
      position: relative;
      justify-content: space-between;

      h3{
        margin-top: 0px;
      }
    }

    h3 {
      position: absolute;
      top: 45px;
      left: 60px;
      font-size: 20px;
    }

    .icon-arrow {
      align-content: flex-end;
      margin-top: 35px;
      color: #46649B;
      font-size: 25px;
    }

    .icon {
      background-size: 64px;
      width: 64px;
      height: 64px;
    }
  }
}
