@mixin content-module {
  background: #FFF;
  border: 1px solid #D1D1D1;
  position: relative;
  overflow: hidden;

  a {
    text-decoration: none;
  }
}

@mixin slick-dot-li {
  margin: 0;
}

@mixin zulu-mike-lima-line {
  border-bottom: 1px solid #fff;
  width: 60%;
  display: block;
  position: relative;
  margin-bottom: 20px;
  margin-top: 20px;

  &:after {
    position: absolute;
    top: -7px;
    right: -2px;
    content: "\f111";
    font-family: "fontawesome";
    font-size: 10px;
  }
}

@mixin lima-bg-image {
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
}
