.content-module-charlie {
  @include content-module;
  cursor: pointer;

  .text-content {
    padding: 20px;
    position: relative;
    background: #FFF;

    .btn-secondary {
      padding: 10px 0;
      opacity: 0;
    }

    h3 {
      padding: 10px 0;
      font-size: 20px;
      line-height: 25px;
    }
  }

  .slick-dots {
    text-align: left;
    bottom: 20px;
    left: 20px;
    li {
      @include slick-dot-li;
    }

  }
}

@include breakpoint(medium down) {
  .content-module-charlie {
    .text-content {
      h3 {
        margin-top: 20px;
      }
    }
  }
}

@include breakpoint(small down) {
  .content-module-charlie {
    p, .btn-secondary {
      display:none;
    }

    h3 {
      margin-bottom: 30px;
    }
    min-height: 387px;
    margin-bottom: 0 !important;
  }
}
