.content-module-sierra {
  .sierra-range {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    margin-bottom: 30px;

    .icon-inbetween {
      padding: 10px 20px 10px 15px;
    }

    .sierra-select {
      width: 240px;
      height: 46px;
      padding: 10px;
      font-size: 14px;
      background-position: right 10px center;
    }
  }

  .sierra-card {
    padding: 10px;

    .sierra-content {
      @include content-module;
      .text-content {
        padding: 20px;
      }
    }
  }

  .slick-dots {
    text-align: left;
    left: 5px;
    li {
      @include slick-dot-li;
    }
  }
}
