.slider-and-help-form{
	background-color:#46646E;
	// background-image:url("http://placehold.it/200x200/363636/ffffff&text=...");
	background-image:url("../images/ourmission.png");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 100%;
	.slider-content{
		padding-left:7%;
		h1,h2,h3,h4,h5,h6{
			margin-top:20%;
		}
		p,a.btn-white{
			color:white;
		}
		a.btn-white{
			padding-left:0;
			&:before {
				color:white;
			    content: "\e800";
			    font-family: "fontello";
			    margin-right: 10px;
			}
		}
	}

	.help-form-wrapper{
		@include breakpoint(large){
			padding:25px;
		}
		@include breakpoint(medium only){
			padding:10px;
		}
		@include breakpoint(small){
			padding:15px;
		}
		.help-form{
			background: white;/*TODO: Assign correct hex*/
			@include breakpoint(large){
				padding:25px;
			}

			@include breakpoint(medium only){
				padding:10px;
			}
			@include breakpoint(small){
				padding:15px;
			}

			h6{
				font-weight:bold;
				font-size:24px;
				color:#4F6973; /*TODO: Assign correct hex*/
				margin-bottom:0;
			}

			input,select,textarea{
				color:#4F6973; /*TODO: Assign correct hex*/
				font-size:13px;
			}

			input,textarea{
				&::-webkit-input-placeholder{ /* Chrome/Opera/Safari */
					// ,&::-moz-placeholder /* Firefox 19+ */
					// ,&:-ms-input-placeholder /* IE 10+ */
					// ,&:-moz-placeholder {/* Firefox 18- */
					color: #4F6973;/*TODO: Assign correct hex*/
				}
			}

			.small-text{
				display:block;
				font-size:10px;
			}

			form{
				margin-top:30px;
			}

			select{
			    padding: 2px 0 0 6px;
				height:40px;
				margin-bottom:10px;
				/*TODO: Color the down-carat . @see http://codepen.io/noahblon/post/coloring-svgs-in-css-background-images*/
			}

			label[for="checkbox1"]{/*temp name*/
				font-size:13px;
				color: #4F6973;/*TODO: Assign correct hex*/
				a{
					color: #4F6973;/*TODO: Assign correct hex*/
				}
				&:before{ 
					width:20px;
					height:20px;
				}
				&:after{ 
					top: 7px;
					left: 3px;
					font-size: 12px;
				}
			}

			label{
			    padding: 0px 0 0 30px;
			}

			a.sasfin-btn{
				width:100%;
			}
		}
	}
}