footer.main-footer{
	background-color:#515254;
	padding-top:20px;
}

footer.main-footer div.footer-social{

	@include breakpoint(small){
		background-color:#515254;
	}

	@include breakpoint(medium){
		// background-color:white;
		// padding:30px 15px;
	}

	a{
		text-decoration:none;
	}

	a:not(:first-child){
		margin-left:25px;
	}

	padding:40px 20px;

	.round-dark-icon-sm{
		color:white;
		background-color: #2f2f2f;
		border-radius: 50px;
		padding: 12px;
	}

	.icon-twitter:before{
		position:relative;
		left:-1px; /*tweak to center icon*/
	}
	.icon-youtube:before{
		position:relative;
		left:-3px; /*tweak to center icon*/
	}
}

.footer-contact-details{
	ul{
		position:relative;
		left:-8px;
		border-top:2px solid #232424; 
		list-style-type: none;
		padding:15px 0;
	}
	li{
		color:white;
		font-weight: bold;
		text-decoration:underline;
		margin:15px 0;
		a{
			color:white;
			font-weight: bold;
			text-decoration:none;
		}

		span{
			margin-left:20px;
		}
	}

	/*Tablet specific styles*/
	@include breakpoint(medium){
		ul{
			text-align:right;
			border:none;
			padding-top:35px;
			padding-right:5px;
		}
		li{
			display: inline;
			margin-left:20px;
		}
	}
}

.footer-mini-nav{
		position:relative;
		left:-10px;
	ul{
		list-style-type: none;
		li{
		    padding: 14px 13px 14px 17px;
			// padding-left:10px;
			a{
				color:white;
				font-size: 16px;
				text-decoration:none;
			}
			i.icon-dropdown{
				color:white;
				font-size: 60%;
				float:right;
				padding-top:7px;
				padding-right:13px;
			}
		}

		li:first-child{
			background-color:#1F1F1F;
		}
		li:not(:first-child){
			background-color:grey;
		}
	}
}

.footer-large-nav{
	display:none;
	ul{
		border-top:2px solid #232424;
		border-bottom:2px solid #232424;
		// position:relative;
		// left:-8px;
		list-style-type: none;
		// padding:15px 0;
	}
	li{
		// font-weight: bold;
		display: inline;
		margin-left:20px;
		a{
			color:#C7C7C9;
			// font-weight: bold;
			text-decoration:none;
			font-size: 12px;
		}
	}
}


.footer-large-nav-flex{
	.row.expanded{
		border-top:1px solid #232424;
		border-bottom:1px solid #232424;
		padding-top:40px;
		padding-bottom:40px;
		margin-bottom:20px;

		.columns{
			padding:0;
			a{
				color:white;
				text-decoration:none;
				font-size:15px;
			}
		}
	}
}

.footer-disclaimer-links{
	ul{
		position:relative;
		left:-8px;
		list-style-type: none;
		padding:15px 0;
	}
	li{
		font-weight: bold;
		a{
			@include ttuc;
			color:#939393;
			font-weight: bold;
			text-decoration:none;
			font-size: 12px;
		}
	}

	/*Tablet specific styles*/
	@include breakpoint(large){
		ul{
			// text-align:right;
			// border:none;
			// padding-top:35px;
			// padding-right:5px;
		}
		li{
			display: inline;
			// margin-left:20px;
		}
		li:not(:first-child){
			margin-left:30px;
		}
	}
}

.footer-copyright{
	p{
		color:#939393;
		font-size:12px;
		line-height: 19px;
		padding: 20px 12px;

		/*Tablet specific styles*/
		@include breakpoint(medium){
			float:right;
			width:300px;
		}
		@include breakpoint(large){
			float:right;
			width:600px;
		}
	}

	/*Tablet specific styles*/
	@include breakpoint(medium){
		text-align:right;
	}
}

.footer-locations{
	
	background-color:#464646;
	padding:0;
	padding-top:15px;
	padding-bottom:15px;

	margin:0 auto;
	font-size:10px;
	color:#939393;
	.columns,.column{
		padding:0;
		padding-bottom:10px;
	}
}
