/*
  .g8"""bgd                              mm
.dP'     `M                              MM
dM'       ` ,pW"Wq.`7MMpMMMb.  ,pP"Ybd mmMMmm
MM         6W'   `Wb MM    MM  8I   `"   MM
MM.        8M     M8 MM    MM  `YMMMa.   MM
`Mb.     ,'YA.   ,A9 MM    MM  L.   I8   MM
  `"bmmmd'  `Ybmd9'.JMML  JMML.M9mmmP'   `Mbmo
*/	
$main-nav-max-width:1320px; /*Wrap in media query for desktop breakpoint*/

/*
`7MMF'   `7MF' mm     db  `7MM
  MM       M   MM           MM
  MM       M mmMMmm `7MM    MM  ,pP"Ybd
  MM       M   MM     MM    MM  8I   `"
  MM       M   MM     MM    MM  `YMMMa.
  YM.     ,M   MM     MM    MM  L.   I8
   `bmmmmd"'   `Mbmo.JMML..JMML.M9mmmP'
*/

/*Move these to a top level module at a later stage*/
@mixin ttuc(){
	text-transform:uppercase;
}
@mixin nopad(){
	padding:0;
}
@mixin nomarg(){
	margin:0;
}

code{
	display:none;
}

.debug{border:1px dotted red !important; }

.debug2{border:1px dotted teal !important; }

.debug3{border:1px dotted green !important; }

.debugbg,.debugBg,.debugBG{background-color:orange; }

/*	Positioning */
.posRel{
	position:relative;
}

.navAlignRight{/*temp utility class to be pushed up to utilities scss*/
	float:right;
}

.posAbs{
	position:absolute;
}

.posAbsTopLeft{
	position:absolute;
	top:0;
	left:0;
}

.posAbsTopRight{
	position:absolute;
	top:0;
	left:0;
}

/*	==== MARGIN AND PADDING ==== */

/*Override: zero out  padding*/
.nopad{padding:0;}
.nopadImp{padding:0 !important;}

/*Override: zero out margin*/
.nomarg{margin:0;}
.nomargImp{margin:0 !important;}

/*
`7MN.   `7MF'
  MMN.    M
  M YMb   M  ,6"Yb.`7M'   `MF'
  M  `MN. M 8)   MM  VA   ,V
  M   `MM.M  ,pm9MM   VA ,V
  M     YMM 8M   MM    VVV
.JML.    YM `Moo9^Yo.   W
*/

@mixin ulInlineAndReset (){
	margin:0;
	padding:0;
	list-style-type: none;

	li{
		display:inline-block;
	}
}

@mixin bgBeige (){
	background-color:beige;
}

@mixin bgHotPink (){
	// background-color:#ff0066;
}

$nav-blue:#44649B;
$nav-lightBlue:#59ACC1;
$nav-darkGrey:#505253;
$nav-mediumGrey:#828282;
$nav-grey:#999999;
$nav-lightGrey:#DADADA;

$zindex-searchbar:1000;
$zindex-mainNav:990;
$zindex-mainNav-mobile:991;
$zindex-mainNav-loginGroup:980;
$zindex-mainNav-submenu:970;


// Search bar
#ss-search-wrapper{
	background-color:white;
	position:fixed;
	top:-1000px; /*Refactor this to a sane later*/
	left:0;
	z-index:$zindex-searchbar;
	width:100%;
}

/* Blocker utility*/
#blocker{
	background-color:black;
	position:fixed;
	opacity:.8;
	top:0; /*Refactor this to a sane later*/
	left:0;
	z-index:$zindex-searchbar+1-11;
	width:100%;
	height:100%;
	display:none;
}
/*


MMP""MM""YMM             `7MN.   `7MF'
P'   MM   `7               MMN.    M
     MM  ,pW"Wq.`7MMpdMAo. M YMb   M  ,6"Yb.`7M'   `MF'
     MM 6W'   `Wb MM   `Wb M  `MN. M 8)   MM  VA   ,V
     MM 8M     M8 MM    M8 M   `MM.M  ,pm9MM   VA ,V
     MM YA.   ,A9 MM   ,AP M     YMM 8M   MM    VVV
   .JMML.`Ybmd9'  MMbmmd'.JML.    YM `Moo9^Yo.   W
                  MM
                .JMML.
*/
div#ss-top-nav{
	// Tracking bg colour for debug
	@include bgHotPink;

	position:fixed; top:0; left:0; width:100%;
	z-index:$zindex-mainNav;
	
	/*
	
	
	`7MM"""Yb.                   `7MM        mm
	  MM    `Yb.                   MM        MM
	  MM     `Mb  .gP"Ya  ,pP"Ybd  MM  ,MP'mmMMmm ,pW"Wq.`7MMpdMAo.
	  MM      MM ,M'   Yb 8I   `"  MM ;Y     MM  6W'   `Wb MM   `Wb
	  MM     ,MP 8M"""""" `YMMMa.  MM;Mm     MM  8M     M8 MM    M8
	  MM    ,dP' YM.    , L.   I8  MM `Mb.   MM  YA.   ,A9 MM   ,AP
	.JMMmmmdP'    `Mbmmd' M9mmmP'.JMML. YA.  `Mbmo`Ybmd9'  MMbmmd'
	                                                       MM
	                                                     .JMML.
	*/
	// Explicitly set the display of the max and min wrappers initially
	// It will be overridden by the .minimised style below
	#ss-maximised-wrapper{
		display:inherit;
		background-color: $nav-blue;

		div#ss-maximised-desktop{
			height:104px;
			padding-right:20px;
			/*Control the display of the logos*/
			img.show-for-maximised{
				display:inline;
			}
			img.show-for-minimised{
				display:none
			}
			.nav-right{
				float:right;
				// background-color:blue;
				width:80%;

				.secondary-nav{
					// background-color:$nav-lightGrey;
					border-bottom:1px solid white;

					padding:6px 0;

					.secondary-nav-link-group{
						display:inline;
						// background-color:$nav-darkGrey;
						ul{
							display:inline;/*Else the ul takes up the 100% width of the parent div*/
							@include ulInlineAndReset;
							li{
								&:not(:last-child){
									margin-right:40px;
								}
								a{
									@include ttuc;
									color:white;
									text-decoration:none;
									font-size: 11px;
								    font-weight: bold;
								}
							}
						}
					}
					.secondary-nav-search-group{
						float:right;
						a{
							@include ttuc;
							color:white;
							text-decoration:none;
							font-size: 11px;
							font-weight: bold;
						}
					}
				}
				.primary-nav{
					// background-color:crimson;
					.primary-nav-link-group{
						// background-color:$nav-darkGrey;
						position:relative;
						// display:inline;
						padding-top:10px;

						ul.primary-nav-list{
							display:inline;/*Else the ul takes up the 100% width of the parent div*/
							@include ulInlineAndReset;

							li{
								margin:0;
								font-size: 20px;

								&:not(:first-child){
									margin-left:60px;
								}

								a{
									text-decoration:none;
									color:white; /*TODO: Assign correct hex*/
								}

								position:relative; /* In order to absolutely position the icon-dropdowns*/

								i.icon-dropdown{
									font-size: 30%;
									position:absolute;
									top:120%;
									left:45%;
									color:#DADADA; /*TODO: Assign correct hex*/
								}
							}
						}	

						ul.login-dropdown-group{
							// background-color:goldenrod;
							/*Reset*/
							list-style-type:none;
							@include nomarg;

							position:absolute; /*Relative to parent*/
							top:21px;
							right:140px; /*Always n pixels from the right of the viewport*/
							width: 160px; /*Important to set this*/

							li{
								a{
									// color:white;
									text-decoration:none;
									color:#464646;
									@include ttuc;
									display:block;
									font-size:13px;
									font-weight: bold;
									padding:15px;
									background-color:white;
								}

								

								&:first-child{/* Login / Register button*/
									a{
										background:none;
										color:white;
										font-size:14px;
										padding:0;
									}
								}

								&.up-triangle{ /* second list item*/
									margin-top:15px;
									&:before{
										content: "";
										border-color: transparent transparent white transparent;
										border-style: solid;
										border-width: 8.5px;
										width: 0;
										height: 0;
										position: absolute;
										top: 22px;
										left: calc(50% - 8.5px);
									}
								}
								&:not(:first-child){
									border-bottom:1px solid darkGrey; /*assign correct hex*/
								}
							}

						}
						.ss-signup-button{
							float:right;
							@include ttuc;
							font-size: 14px;
							font-weight:600;
							border:2px solid white; /*TODO: Assign correct hex*/
							border-radius: 8px;
							padding: 5px 19px 6px 19px;
							margin-top: 5px;

							color:white;

							text-decoration:none;

							/* Math for down arrow*/
							$scalar:0.75;
							$arrowBorderWidth:($scalar*10)+0px;

							/*COMMENTED OUT FOR THE TIME BEING*/
							/*&:after {
								content:"";
								border-color: white transparent transparent transparent;
								border-style:solid;
								border-width:$arrowBorderWidth;
								width:0;
								height:0;
								position:absolute;
								bottom:-22px;
								right:42px;
							}*/
						}
						.ss-search-button{
							display:none;
						}
					}
				}
			}
		} /* / div#ss-maximised-desktop */

		

	} /* / #ss-maximised-wrapper */
	#ss-minimised-wrapper-f00{
		display:none;
		// display:none;
		background-color: yellow;
		/*Offcanvas this menu initially*/
		position:fixed; top:-1000px; left:0; width:100%;

		div#ss-minimised-desktop{
			.nav-right{
				float:right;
				background-color:blue;
				width:80%;

				.primary-nav{
					background-color:crimson;
					.primary-nav-link-group{
						position:relative;
						// display:inline;

						ul.primary-nav-list{
							display:inline;/*Else the ul takes up the 100% width of the parent div*/
							@include ulInlineAndReset;
						}	

						background-color:$nav-darkGrey;
						ul.login-dropdown-group{
							background-color:goldenrod;
							/*Reset*/
							list-style-type:none;
							@include nomarg;

							position:absolute; /*Relative to parent*/
							top:0;
							right:200px; /*Always n pixels from the right of the viewport*/
						}
						.ss-signup-button{
							float:right;
						}
						.ss-search-button{
							float:right;
						}
					}
				}
			}
		}
	}

	/*
	
	                         ,,        ,,    ,,
	`7MMM.     ,MMF'        *MM        db  `7MM
	  MMMb    dPMM           MM              MM
	  M YM   ,M MM  ,pW"Wq.  MM,dMMb.`7MM    MM  .gP"Ya
	  M  Mb  M' MM 6W'   `Wb MM    `Mb MM    MM ,M'   Yb
	  M  YM.P'  MM 8M     M8 MM     M8 MM    MM 8M""""""
	  M  `YM'   MM YA.   ,A9 MM.   ,M9 MM    MM YM.    ,
	.JML. `'  .JMML.`Ybmd9'  P^YbmdP'.JMML..JMML.`Mbmmd'
	
	
	*/
	div#ss-mobile{
		background-color: $nav-blue;
		position:fixed; top:0; left:0; width:100%;
		z-index:$zindex-mainNav-mobile;

		@include breakpoint(medium){
			height:60px;
		}

		img.show-for-maximised{
			display:inline;
		}
		img.show-for-minimised{
			display:none
		}

		.nav-right{
			float:right;
			// background-color:blue;
			width:60%;

			$paddingControl:10;
			.login-group{
				float:right;

				/* Calculated padding */
				padding:$paddingControl+0px;
				// background-color:DodgerBlue;
				a{
					text-decoration:none;
					color:white;
					@include ttuc;
					font-size: 11px;
					font-weight:bold;
					i.icon-userlogin{
						color:white;
					}
				}

				ul.login-dropdown-group{
					position:absolute;
					// background-color:Tomato;
					/*Reset*/
					list-style-type:none;
					@include nomarg;

					/*For mobile phone we push the ul to the left more*/
					@include breakpoint(small only){
						right:30px;
					}

					li{
						a{
							// color:white;
							text-decoration:none;
							color:#464646;
							@include ttuc;
							display:block;
							font-size:11px;
							font-weight: bold;
							padding:13px;
							background-color:white;
							border-bottom:1px solid darkGrey; /*assign correct hex*/
						}

						

						&:first-child{
							/*a{
								background:none;
								color:white;
								font-size:14px;
								padding:0;
							}*/
						}

						&.up-triangle{ /* second list item*/
							margin-top:15px;
							&:before{
								content: "";
								border-color: transparent transparent white transparent;
								border-style: solid;
								border-width: 8.5px;
								width: 0;
								height: 0;
								position: absolute;
								top: -1px;
								left: calc(50% - 8.5px);
							}
						}
						
					}
				}
			}
			.menu-toggle-group{
				float:right;

				/* Calculated padding */
				padding:$paddingControl+0px;
				padding-left:0; /*Reset so that the icon below makes up the padding*/



				// background-color:goldenrod;
				a{
					color:white;
					 i.icon-menu,i.icon-close{
					 	font-size:88%;
						color:white;
					 	padding-left:$paddingControl+0px;
						border-left:1px solid white; /*There is a grey alternative needed*/
					}
					text-decoration:none;
					@include ttuc;
					span{
						font-size: 11px;
						font-weight: bold;
						padding-left: 8px;
					}
				}

				&.is-open{
						background-color:$nav-darkGrey;
						a{
							i.icon-close{
							 	color:white;
								border-left:none; /*There is a grey alternative needed*/
							}
						}
						span{
							font-size: 11px;
							font-weight: bold;
							padding-left: 8px;
						}
					}
			}
		}
	}


	/*
	
	                    ,,
	 .M"""bgd          *MM
	,MI    "Y           MM
	`MMb.   `7MM  `7MM  MM,dMMb.`7MMpMMMb.pMMMb.  .gP"Ya `7MMpMMMb.`7MM  `7MM
	  `YMMNq. MM    MM  MM    `Mb MM    MM    MM ,M'   Yb  MM    MM  MM    MM
	.     `MM MM    MM  MM     M8 MM    MM    MM 8M""""""  MM    MM  MM    MM
	Mb     dM MM    MM  MM.   ,M9 MM    MM    MM YM.    ,  MM    MM  MM    MM
	P"Ybmmd"  `Mbod"YML.P^YbmdP'.JMML  JMML  JMML.`Mbmmd'.JMML  JMML.`Mbod"YML.
	
	
	*/

	#ss-submenu-wrapper{
		// display:none;
		position:fixed; 
			// top:150px; /*Set this to the height of the minimised menu so that the submenu sits right under it*/
			left:0; width:100%;
		/*
			On mobile, the submenu wrapper is always positioned just below the main
			navigation
		*/
		@include breakpoint(large){

			background-color:white;

			$overviewColumnWidth:17;

			$linkColumnWidth:((100-$overviewColumnWidth)/4);

			.links-col{
				float:left;
				width:percentage($linkColumnWidth*0.01);
				padding:35px 0 35px 35px;
				background-color:white;
				@include ttuc;
				ul{
					padding-left:10px;
					list-style-type:none;
					border-right:1px solid lightGrey;
					li{
						&:not(:last-child){
							padding-bottom:40px;
						}
						a{
							text-decoration:none;
							color:#474747;
							font-size:14px;
							font-weight:bold;
						}
					}
				}
			}

			.overview-col{
				float:left;
				width:percentage($overviewColumnWidth*0.01);
				background-color:#46646E;
				padding:35px;
				min-height:320px;
				h6{
					color:white;
					font-size:14px;
				}
				p{
					color:white;
					font-size:13px;
					margin-top: 20px;
				}
			}
		}
		@include breakpoint(small only){
			position:absolute; 
			top:50px; /*Set this to the height of the minimised menu so that the submenu sits right under it*/
			left:0; width:100%;

			.hide-for-large{
				width: 100%;
				// position:absolute;
				// top:15.5em; left:0;
				background-color:white;
				
				ul{
					list-style-type:none;
					margin:0;
					padding-left:1em;
					padding-right:1em;

					li{
						border-bottom:1px solid lightGrey; /*assign correct hex*/
						padding-top:1em;
						padding-bottom:1em;
					}
				}

				/* Overrride bottom border*/
				ul#mobileNavCTAWrapper{
					padding-top:1.9em;
					padding-bottom:1.9em;

					li{
						border-bottom:none
					}
				}

				li.primary-nav-item{
					// background-color:teal;
					a{
						font-size: 20px;
						color:black; /*todo: assign corrrect hex*/
						i.icon-dropdown{
							font-size: 50%;
							// position:absolute;
							// top:120%;
							// left:45%;
							float:right;
							padding-top:13px;
							padding-right:13px;
						}
					}
				}

				li.secondary-nav-item{
					@include ttuc;
					// background-color:orange;
					margin:0;
					font-size: 0.66em;
				    font-weight: 600;
				    padding-top:1.9em;
				    padding-bottom:1.9em;
				    a{
						color:grey; /*TODO: Assign correct hex*/
				    }
				}
			}



		}
		@include breakpoint(medium only){
			position:fixed; 
			top:50px; /*Set this to the height of the minimised menu so that the submenu sits right under it*/
			left:0; width:100%;
		}
		background-color: white;
		// opacity:0.5;
	}


	// The minimised version of the menu is always fixed to the top
	&.minimised{ /*div#ss-top-nav.minimised*/

		/*
			When scrolled, the .minimised class is added to the #top-nav element via jQuery
		*/
		// #ss-minimised-wrapper{
		// 	top:0;
		// }

		#ss-maximised-wrapper{
			#ss-maximised-desktop{
				background-color:white;
				border-bottom:1px solid #DADADA;
				max-height:68px;
				img.show-for-maximised{
					display:none;
				}
				img.show-for-minimised{
					display:inline;
				}
				.nav-right{
					.secondary-nav{
						display:none;
					}
					.primary-nav{
						// background-color:crimson;
						.primary-nav-link-group{
							// position:relative;
							// display:inline;

							ul.primary-nav-list{
								// display:inline;/*Else the ul takes up the 100% width of the parent div*/
								// @include ulInlineAndReset;
								
								li{
									a{
										color:$nav-blue;
									}
								}
							}	

							// background-color:$nav-darkGrey;
							ul.login-dropdown-group{
								// background-color:goldenrod;
								/*Reset*/
								// list-style-type:none;
								// @include nomarg;

								position:absolute; /*Relative to parent*/
								top:21px;
								right:230px; /*Always n pixels from the right of the viewport*/

								& li:first-child{/* Login / Register button*/
									a{
										color:$nav-blue;
									}
								}
							}
							.ss-signup-button{
								border-color:$nav-blue;
								color:$nav-blue;
								margin-right: 30px;
								&:after {
									border-color: $nav-blue transparent transparent transparent;
									right:149px;
								}
							}
							.ss-search-button{
								display:inherit;
								float:right;
								@include ttuc;
								color:$nav-blue;
								text-decoration:none;
								font-size: 11px;
								font-weight: bold;
							    margin-top: 8px;
						        margin-right: 10px;
							}
						}
					}
					
				}
			}
		}

		/* Override the styles of the mobile nav when minimised (scrolled down)*/
		div#ss-mobile{
			background-color: white;

			img.show-for-maximised{
				display:none;
			}
			img.show-for-minimised{
				display:inline;
			}

			.nav-right{
				.login-group{
					a{
						i.icon-userlogin{
							color:$nav-grey;
						}
						color:$nav-grey;
					}

					ul.login-dropdown-group{
						color:$nav-grey;
					}
				}
				.menu-toggle-group{
					a{
						i.icon-menu,i.icon-close{
						 	color:$nav-blue;
							border-left:1px solid $nav-grey; /*There is a grey alternative needed*/
						}
						span{
						 	color:$nav-blue;
						}
					}
					&.is-open{
						background-color:$nav-darkGrey;
						a{
							i.icon-close{
							 	color:white;
								border-left:none; /*There is a grey alternative needed*/
							}
						}
						span{
						 	color:white;
						 	padding-left: 8px;
						}
					}
				}
			}
		}
		#ss-submenu-wrapper{
			position:fixed; 
			top:68px; /*Set this to the height of the minimised menu so that the submenu sits right under it*/
			left:0; width:100%;

			/*Set this top value to the height of the minimised mobile menu*/
			@include breakpoint(small only){
				position:fixed; 
				top:50px; /*Set this to the height of the minimised menu so that the submenu sits right under it*/
				left:0; width:100%;
			}
			@include breakpoint(medium only){
				position:fixed; 
				top:50px; /*Set this to the height of the minimised menu so that the submenu sits right under it*/
				left:0; width:100%;
			}
		}
	}




	// Control the visibility of elements based on scroll
	// Sticky menu
	&.minimised{
		#ss-maximised-wrapper{
			// Show the minimised version
			// display:none;
			// visibility:hidden;
			// top:0;
		}
		#ss-minimised-wrapper{
			// Show the minimised version
			// display:inherit;
			// top:0;
		}
	}
} /* !div#ss-top-nav */



#ss-submenu-wrapper-mobile{

	width: 100%;
	position:absolute;
	top:40px; left:0;
	background-color:white;
	z-index:$zindex-mainNav-submenu;

	/*Top must shift because the tablet menu is taller than the phone menu*/
	@include breakpoint(medium){
		top:60px;
	}
	
	ul{
		list-style-type:none;
		margin:0;
		padding-left:1em;
		padding-right:1em;

		li{
			border-bottom:1px solid lightGrey; /*assign correct hex*/
			padding-top:1em;
			padding-bottom:1em;
		}
	}
	li.primary-nav-item{
		// background-color:teal;
		a{
			font-size: 20px;
			color:black; /*todo: assign corrrect hex*/
			text-decoration:none;
			i.icon-dropdown{
				font-size: 50%;
				// position:absolute;
				// top:120%;
				// left:45%;
				float:right;
				padding-top:13px;
				padding-right:13px;
			}
		}
	}

	li.secondary-nav-item{
		@include ttuc;
		// background-color:orange;
		margin:0;
		font-size: 0.66em;
		font-weight: 600;
		padding-top:1.9em;
		padding-bottom:1.9em;
		a{
			text-decoration:none;
			color:grey; /*TODO: Assign correct hex*/
		}
	}

	.cta-group{
		background-color:white;

		@include breakpoint(small){
			padding:25px 15px;
		}

		@include breakpoint(medium){
			padding:30px 15px;
		}

		.sasfin-btn{
			width:100%;
			margin-top:15px;
			margin-bottom:15px;
		}
	}

	.cta-signup{
		.sasfin-btn{
			// width:100%;
			height:60px; /*override*/
			padding-top:18px; /*override*/
		}
	}
	.cta-call-me-back{
		.sasfin-btn{
			// width:100%;
			// height:60px; /*override*/
			padding-top:18px; /*override*/
		}
	}

	.nav-footer-social{
		
		a{
			text-decoration:none;
		}

		a:not(:first-child){
			margin-left:25px;
		}

		@include breakpoint(small){
			background-color:#515254;
		}

		@include breakpoint(medium){
			background-color:white;
			// padding:30px 15px;
		}


		padding:30px 10px;

		.round-dark-icon-sm{
			color:white;
			background-color: #2f2f2f;
			border-radius: 50px;
			padding: 12px;
		}

		.icon-twitter:before{
			position:relative;
			left:-1px; /*tweak to center icon*/
		}
		.icon-youtube:before{
			position:relative;
			left:-3px; /*tweak to center icon*/
		}
	}
}

/*
	Nav buffer
	Because the nav is either absolutely or fixed in position
	we need to ensure a buffer so that page content
	does not sit below the nav	
*/
#navSpacer{
	// background-color:pink;
	// height:500px;
	
	@include breakpoint (large){
		height:104px;
	}
	@include breakpoint (medium only){
		height:60px;
	}
	@include breakpoint (small){
		height:44px;
	}
}


/*
`7MMF'                        `7MM        db
  MM                            MM
  MM         ,pW"Wq.   ,pW"Wq.  MM  ,MP'`7MM  `7MMpMMMb.  .P"Ybmmm
  MM        6W'   `Wb 6W'   `Wb MM ;Y     MM    MM    MM :MI  I8
  MM      , 8M     M8 8M     M8 MM;Mm     MM    MM    MM  WmmmP"
  MM     ,M YA.   ,A9 YA.   ,A9 MM `Mb.   MM    MM    MM 8M
.JMMmmmmMMM  `Ybmd9'   `Ybmd9'.JMML. YA..JMML..JMML  JMML.YMMMMMb
                                                         6'     dP
                                                         Ybmmmd'
*/


.ss-looking-for-search{
	padding:0;

	background-color:white;

	.row{
		max-width:100%;
	}

	.ss-occupation-search-module
	,.ss-service-search-module{
		position:relative; /* To position child elements*/
		@include breakpoint(large){
			padding-top:40px;
			padding-bottom:40px;

		}
		@include breakpoint(medium only){
			padding-top:20px;
			padding-bottom:25px;
		}
		span{

			@include breakpoint(large){
				color:#4F6973;
				font-weight: bold;
				&.prompt-text{
					font-size: 30px;
				}
				&.prompt-example-text{
					font-size: 11px;
					position: absolute;
					top: 91px;
					left: 197px;
				}
			}

			@include breakpoint(medium only){
				color:#4F6973;
				font-weight: bold;
				&.prompt-text{
					font-size: 12px;
					@include ttuc;
				}
				&.prompt-example-text{
					font-size: 11px;
					@include breakpoint(large){
						position: absolute;
						top: 91px;
						left: 197px;
					}
				}
			}
	
			/*Specific to large only*/
			@include breakpoint(large){
				margin-left:70px;
				padding-top:12px;
			}
		}
		input{
			height: 35px;
			width: 100%;
			border:none;
			border-bottom:1px solid #4F6973;
			box-shadow:none;
			background:none;
			padding-left:0;

			@include breakpoint(large){
				width:200px;
				display:inline-block;
				margin-left:10px;
			}

		}



		ul.results{
			list-style-type:none;
			position: absolute;
		    top: 88px;
		    left: 245px;
			width:300px;
			li{
				a{
					background-color:#46646E;
					display:block;
					color:white;
					width:100%;
					height:50px;
					font-size:13px;
					padding: 15px 15px 0px 10px;
					text-decoration:none;
					font-size: 13px;
					border-bottom: 1px solid white;
				}
			}

			/*Overrides for medium*/
			@include breakpoint(medium only){
				top:78px;
				left:15px;
				margin-left:0;
				width:320px;
			}
		}
	}

	/*Specifically for ss-occupation-search-module*/
	.ss-occupation-search-module{
		
	}

	/*Specifically for ss-service-search-module*/
	.ss-service-search-module{
		span{

			@include breakpoint(large){
				// color:#4F6973;
				// font-weight: bold;
				// &.prompt-text{
					// font-size: 30px;
				// }
				&.prompt-example-text{
					// font-size: 11px;
					position: absolute;
					// top: 91px;
					left: 223px;
				}
			}
		}
	}

	.ss-looking-for-submit{
		@include breakpoint(large){
			padding-top:22px;
		}
		@include breakpoint(medium only){
			/*Override the column widths set by Foundation*/
			padding-top:38px;
			padding-left:0;
			flex: 0 0 10%;
			max-width: 10%;
			/*Override the arrow btn styling*/
			a.arrow-btn{
				height: 50px;
			    width: 50px;
			    font-size:16px;
			    padding: 12px 0 0 12px;

			}
		}

	}

	.ss-occupation-search-module{
		@include breakpoint(large){
			left:100px;
		}
		@include breakpoint(medium only){
			/*Override the column widths set by Foundation*/
			flex: 0 0 45%;
			max-width: 45%;
		}
	}
	.ss-service-search-module{
		@include breakpoint(medium only){
			/*Override the column widths set by Foundation*/
			flex: 0 0 45%;
			max-width: 45%;
		}
	}
}