.slider-and-help-form{
	.help-form-wrapper{
		padding:25px;
		.help-form{
			background: beige;/*TODO: Assign correct hex*/
			padding:25px;

			h6{
				font-weight:bold;
				font-size:24px;
				color:#4F6973; /*TODO: Assign correct hex*/
				margin-bottom:0;
			}

			input,select,textarea{
				color:#4F6973; /*TODO: Assign correct hex*/
				font-size:13px;
			}

			input,textarea{
				&::-webkit-input-placeholder{ /* Chrome/Opera/Safari */
					// ,&::-moz-placeholder /* Firefox 19+ */
					// ,&:-ms-input-placeholder /* IE 10+ */
					// ,&:-moz-placeholder {/* Firefox 18- */
					color: #4F6973;/*TODO: Assign correct hex*/
				}
			}

			.small-text{
				display:block;
				font-size:10px;
			}

			form{
				margin-top:30px;
			}

			select{
			    padding: 2px 0 0 6px;
				height:40px;
				margin-bottom:10px;
				/*TODO: Color the down-carat . @see http://codepen.io/noahblon/post/coloring-svgs-in-css-background-images*/
			}

			label[for="checkbox1"]{/*temp name*/
				font-size:13px;
				color: #4F6973;/*TODO: Assign correct hex*/
				a{
					color: #4F6973;/*TODO: Assign correct hex*/
				}
				&:before{ 
					width:20px;
					height:20px;
				}
				&:after{ 
					top: 7px;
					left: 3px;
					font-size: 12px;
				}
			}

			label{
			    padding: 0px 0 0 30px;
			}
		}
	}
}